@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9fafb; /* Tailwind's gray-50 color */
  height: 100%;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}


header {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
}

main {
  padding: 2rem;
}

footer {
  background-color: #f8f8f8;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.rotate-image {
  transform: rotate(90deg); /* Adjust the degree of rotation as needed */
}
.pointer-hover {
  cursor: pointer;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.treeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#treeWrapper {
  width: 50em;
  height: 20em;
}

.header-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.header-visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.social-icons-container {
  position: fixed;
  bottom: 16px; /* Adjust based on how far you want it from the bottom */
  left: 16px; /* Adjust based on how far you want it from the left */
  z-index: 20; /* Ensure this is higher than the header and main content */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.social-icon {
  background-color: black;
  border-radius: 50%;
  padding: 8px;
  transition: background-color 0.3s;
}

.social-icon:hover {
  background-color: gray;
}

.no-path {
  display:none 
}


.custom-path {
  stroke: rgb(255, 0, 0); /* Starting color */
  stroke-width: 3px;
  fill: none;
  stroke-dasharray: 5, 5;
  transition: stroke-width 0.3s, stroke-dasharray 0.3s;
  animation: rgbLight 3s infinite;
}

.custom-path:hover {
  stroke-width: 5px;
  stroke-dasharray: 10, 5;
}

.custom-path:active {
  stroke-width: 6px;
  stroke-dasharray: 10, 2;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes rgbLight {
  0% {
    stroke: rgb(255, 0, 0); /* Red */
  }
  33% {
    stroke: rgb(0, 255, 0); /* Green */
  }
  66% {
    stroke: rgb(0, 0, 255); /* Blue */
  }
  100% {
    stroke: rgb(255, 0, 0); /* Red */
  }
}

.custom-path {
  animation: dash 5s linear infinite, rgbLight 3s infinite;
}
